 .social {
 	min-height: 0;
 	background-color: #555;
 }

 .social h3 {
 	margin: auto;
 	text-align: center;
 }

 .social .container {
 	display: block;
 	margin: auto;
 }


.social-icons{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: auto;	
 }

 .social-icons a {
 	width: 40px;
 	margin: 0 10px;
 	 
 }

 .social-icons img {
 	display: block;
 	width:100%;
 	
 }

