.slider-container {
	padding-bottom: 7vh;
}

.slider-container h2 {
	margin: auto;
	text-align: center;
	font-size: 1rem;
	margin-bottom: 1.9em;
	letter-spacing: .02em;
}

.slider .item {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	transform: scale(.8, .8);
	opacity: .4;
	transition: all .3s ease;
}

.slider .item.slick-current {
	transform: scale(1, 1);
	opacity: 1;
	transition: all .3s ease;
}

.slider .item img {
	/*max-width: 100px;*/
	max-height: 60vh;
	margin:auto;
	transition: all .3s ease;
}
